{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
{% for field in form.visible_fields %}
    <div class="flex flex-col w-full">
        {% if labels %}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
        {% if placeholder %}
            {% render_field field class+="form-input rounded dark:text-black" placeholder=field.label %}
        {% else %}
            {% render_field field class+="form-input rounded dark:text-black" %}
        {% endif %}
    </div>
{% endfor %}
