{% extends 'arquivo/base.html' %}

{% block content %}
    <section id="cliente-detalhe" class="my-2 mx-auto lg:w-3/4" hx-get="{% url 'cliente_detalhe_partial' cliente.pk %}"
             hx-trigger="load">
    </section>
    <section id="acoes" class="my-2 flex gap-2 justify-end mx-auto lg:w-3/4">
        {% include "arquivo/componentes/anchor_button.html" with href=cliente.get_edit_url text="Editar" bg_color="bg-red-400" %}
        {% include "arquivo/componentes/anchor_button.html" with href=cliente.get_document_list_url text="Consultar Documentos" %}
    </section>
    <section id="cliente-documentos" class="my-2 mx-auto lg:w-3/4" hx-get="{% url 'cliente_documentos_partial' cliente.pk %}{% querystring %}"
             hx-trigger="load">
    </section>
{% endblock content %}
