{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color"
              media="(prefers-color-scheme: light)"
              content="white"/>
        <link rel="stylesheet" href="{% static 'arquivo/style.css' %}">
        <title>Arquivo</title>
    </head>
    <body class="bg-gray-200 dark:bg-gray-800 dark:text-white flex flex-row flex-nowrap">
        <nav class="p-2 bg-gray-400 dark:bg-gray-600 w-64 flex flex-col h-screen fixed top-0 left-0">
            {% comment %} nav_links são injetados no contexto via context_processor {% endcomment %}
            {% for nav_link in nav_links %}
                {% if nav_link.href %}
                    <a href="{{ nav_link.href }}"
                       class="ml-4 p-1 pl-2 mb-1 bg-slate-700 hover:bg-slate-500 text-white font-bold rounded-br-full rounded-tr-full">{{ nav_link.text }}</a>
                {% else %}
                    <p class="border-b-2 border-dashed mb-2 border-b-slate-700 dark:border-b-slate-400 text-black dark:text-white font-bold">
                        {{ nav_link }}
                    </p>
                {% endif %}
            {% endfor %}
        </nav>
        <section class="w-full px-2 ml-64">
            {% block content %}
            {% endblock content %}
        </section>
    </body>
</html>
