{% extends "arquivo/base.html" %}

{% block content %}
    <form action="." class="flex items-center gap-2">
        {% include "arquivo/components/form.html" with labels=False %}
        {% include "arquivo/components/button.html" with type="submit" text="Pesquisar" %}
    </form>
    <table>
        <thead>
            <tr>
                <th>ID Documento</th>
                <th>Caixa</th>
                <th>Cliente</th>
                <th>Observacao</th>
                <th>Arquivado em</th>
            </tr>
        </thead>
        {% for resultado in object_list %}
            <tr>
                <td>{{ resultado.id }}</td>
                <td>{{ resultado.numero_caixa|floatformat }}</td>
                <td>{{ resultado.cliente }}</td>
                <td>{{ resultado.observacao }}</td>
                <td>{{ resultado.data_arquivo|date:"SHORT_DATE_FORMAT" }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "arquivo/components/pagination.html" %}
{% endblock content %}
