{% extends "arquivo/base.html" %}

{% block content %}
    <form action="." class="flex items-center gap-2">
        {% include "arquivo/components/form.html" with labels=False %}
        {% include "arquivo/components/button.html" with type="submit" text="Pesquisar" %}
    </form>
    <table>
        <thead>
            <tr>
                <th class="w-6"></th>
                <th>ID Documento</th>
                <th>Caixa</th>
                <th>Cliente</th>
                <th>Observacao</th>
                <th>Arquivado em</th>
            </tr>
        </thead>
        {% for resultado in object_list %}
            <tr>
                <td>
                    <a href="{{ resultado.get_detalhe_url }}" class="flex w-auto h-auto">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             strokeWidth
                             1.5
                             stroke="currentColor"
                             className="w-6 h-6">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                        </svg>
                    </a>
                </td>
                <td>{{ resultado.id }}</td>
                <td>{{ resultado.numero_caixa|floatformat }}</td>
                <td>{{ resultado.cliente }}</td>
                <td>{{ resultado.observacao }}</td>
                <td>{{ resultado.data_arquivo|date:"SHORT_DATE_FORMAT" }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "arquivo/components/pagination.html" %}
{% endblock content %}
