{% extends "arquivo/base.html" %}

{% block content %}
    <form action=".">
        {% include "arquivo/components/form.html" %}
        {% include "arquivo/components/button.html" with type="submit" text="Pesquisar" %}
    </form>
    <table>
        <thead>
            <tr>
                <th>Arquivo</th>
                <th>Cliente</th>
                <th>Descrição</th>
                <th>Arquivado em</th>
            </tr>
        </thead>
        {% for resultado in object_list %}
            <tr>
                <td>{{ resultado.arquivo }}</td>
                <td>{{ resultado.cliente }}</td>
                <td>{{ resultado.conteudo }}</td>
                <td>{{ resultado.criado_em }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "arquivo/components/pagination.html" %}
{% endblock content %}
