{% extends "arquivo/base.html" %}

{% block content %}
    <h1 class="text-xl font-medium">Últimos lançamentos</h1>
    <section class="columns-2">
        {% for lancamento in ultimos_lancamentos %}
            <section class="bg-gray-300 w-full">
                {{ lancamento.data_arquivo|date:"SHORT_DATE_FORMAT" }} - {{ lancamento.cliente }} -
                {{ lancamento.tipo_de_documento }}
                {{ lancamento.observacao }}
            </section>
        {% endfor %}
    </section>
{% endblock content %}
