{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
{% for field in form.visible_fields %}
    <div class="flex flex-col w-full">
        {% if labels %}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
        {% if placeholder %}
            {% render_field field class+="form-input rounded dark:text-black" placeholder=field.label %}
        {% else %}
            {% render_field field class+="form-input rounded dark:text-black" %}
        {% endif %}
        {% if field.errors %}
            <ul class="bg-red-400 rounded-md border-1 border-red-600 px-2 py-1 my-2">
                {% for error in field.errors %}
                    <li class="text-white font-bold">{{  error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}
